@font-face {
	font-family: "Droid Sans";
	src: url("fonts/DroidSans.ttf") format("truetype");
}

body {
	font-family: "Droid Sans", "Trebuchet MS", sans-serif;
	font-size: 100%;
	padding:4px;
}

#heading {
	width: 400px;
	text-align: center;
	font-size: 1.2em;
}

#mainForm {
	float: left;
	border: 1px solid black;
	border-radius: 4px;
	width: 390px;
	margin: 0 5px;
	padding: 4px;
}

#inputContainer {
	flex: 1;
	display: flex;
}

#doiInputLabel {
	margin-right: 4px;
	order: 1;
}

#doiInput {
	order: 2;
	flex: 1;
}

#imageParams {
	margin-top: 4px;
	clear: both;
	display: flex;
	flex: 1;
}

#imageTypePNG {
	order: 1;
}

#imageTypePNGLabel {
	order: 2;
	margin-right: 4px;
}

#imageTypeJPG {
	order: 3;
}

#imageTypeJPGLabel {
	order: 4;
}

#imageParamsSpacer {
	flex: 1;
	order: 5;
}

#sizeInputLabel {
	order: 6;
	margin-right: 4px;
}

#sizeInput {
	order: 7;
	width: 4em;
}

#pxLabel {
	order: 8;
	margin-left: 4px;
}

#embedTitleSubmit {
	margin-top: 4px;
	clear: both;
}

#qrTitle,
#qrTitleLabel {
	float: left;
}

#submitButton {
	float: right;
}

#qrDiv {
	clear:both;
	margin: 8px 5px;
	display: none;
}

#notifyDiv {
	clear: both;
	width: 384px;
	float:left;
	margin: 8px 5px;
	padding: 8px;
	display: none;
	border: 1px solid black;
	border-radius: 4px;
}

#notifyDiv .heading {
	color: #008000;
}

#notifyDiv .highlight {
	background-color: #FFE87C;
}
